[Desktop Entry]
Type=Application
Name=Roblox Manager
GenericName=Roblox Account Manager
Comment=Launch several Roblox accounts into the same server
Icon=io.github.mujo.RobloxManager
Exec=roblox-manager
Terminal=false
Categories=Game;
Keywords=roblox;cordial;account;alt;multi;instance;
