[Desktop Entry]
Type=Application
Name=Roblox Manager
GenericName=Roblox Account Manager
Comment=Launch several Roblox accounts into the same server
Icon=io.github.mujo.RobloxManager
Exec=roblox-manager %u
Terminal=false
StartupWMClass=io.github.mujo.RobloxManager
Categories=Game;
Keywords=roblox;cordial;account;alt;multi;instance;
MimeType=x-scheme-handler/roblox-player;x-scheme-handler/roblox;
